<div class="myheader">
    <table>
        <tr>
            <td style="width: 10%;"> <img src="assets/nseLogo.jpg"/> </td>
            <td style="width: 80%;"> 
                <div class="nsebg">
                    <h1>NSE</h1> 
                    <hr style="width: 100%;"/>
                    <table>
                        <tr>
                            <td> 
                                <select class="dropDown">
                                    <option> Equity</option> 
                                    <option> Currency</option> 
                                    <option> Future & Options</option> 
                                </select>
                            </td>
                            <td> <input type="text" placeholder="Enter Stock Name"  size="40" style="margin-left: 20%;"/> </td>
                        </tr>
                    </table>
            </div> 
            </td>
            <td style="width: 10%;"> <h3>18027</h3> </td>
        </tr>
    </table>
</div>